<h1 class="page-title">Campaigns</h1>

<div class="centered-container">
  <%= button_to "Add Campaign", campaigns_path, data: { turbo: false }, class: 'btn btn-primary' %>
</div>

<% if @campaigns.present? %>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
          <tr>
            <td><%= campaign[:id] %></td>
            <td><%= link_to campaign[:name], campaign_path(campaign[:id]), class: 'campaign-link' %></td>
            <td><%= campaign[:status] %></td>
            <td><%= campaign[:start_date] %></td>
            <td><%= campaign[:end_date] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-data-message">No campaigns found.</p>
<% end %>
